:root {
  --border-color: #008ce9;
  --fill-color: #79c9ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #47b5fe;
  color: #fff;
  font-family: "poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

h1 {
  font-size: calc(40 / 16 * 1rem);
  font-weight: 600;
  margin: 50px 0 0;
}

h3 {
  font-weight: 400;
  margin: 10px 0;
}

.cup {
  background: #fff;
  border: 4px solid var(--border-color);
  color: var(--border-color);
  border-radius: 0 0 30px 30px;
  height: 330px;
  width: 150px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
