:root {
  --border-color: #008ce9;
  --fill-color: #79c9ff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #47b5fe;
  color: #fff;
  font-family: "poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

h1 {
  font-size: calc(40 / 16 * 1rem);
  font-weight: 600;
  margin: 50px 0 0;
}

h3 {
  font-weight: 400;
  margin: 10px 0;
}

.cup {
  background: #fff;
  border: 4px solid var(--border-color);
  color: var(--border-color);
  border-radius: 0 0 30px 30px;
  height: 330px;
  width: 150px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cup.cup-small {
  width: 60px;
  height: 95px;
  border: 3px solid var(--border-color);

  border-radius: 0 0 10px 10px;
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  margin: 5px;
  font-size: calc(14 / 16 * 1rem);
}

.cup.cup-small.full {
  background: var(--fill-color);
  color: #fff;
}

.cups {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 280px;
}

.remained {
  display: flex;
  flex: 1;
  transition: all 0.3s ease;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.remained span {
  font-size: 20px;
  font-weight: 0.3s ease;
}

.remained .msall {
  font-size: calc(12 / 16 * 1rem);
}

.precentage {
  background: var(--fill-color);
  display: flex;
  height: 0;
  transform: all 0.3s ease;
  align-items: center;
  font-size: calc(30 / 16 * 1rem);
  font-weight: bold;
  justify-content: center;
}

.text {
  font-weight: 600;
  text-align: center;
  margin: 0 0 20px 0;
}
